<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>List User</title>
    </head>
    <body>
        <h1>User list</h1>
        <hr>
        <div>
            <ui>
                <% for (var i = 0; i < results.length; ++i) {
                    var curId = results[i]._doc.id;
                    var curName = results[i]._doc.name; %>
                    <li>#<%=i %>: <%=curId %>, <%=curName %></li>
                <% } %>
            </ui>
        </div>
        <br>
        <a href="/public/listuser.html">Re-List</a>
    </body>    
</html>
