doctype html
html
  head
    meta(charset="UTF-8")
    title Login Success
  body
    h1 Welcome, from PUG!
    hr
    div
      p User ID: #{userid}
    div
      p User Name: #{username}
    br
    br
    a(href="/public/login.html") Login Others
    br
    a(href="/public/listuser.html") List Users
