extends layout

block content
	.container
		.jumbotron
			h1.display-4 MY KANBAN BOARD
			p.lead Welcome:) This is my Kanban Board which let me do my job better!
			hr.my-4
			p If you want to create new task, just push this button!
			a.btn.btn-primary.btn-lg Add Task
		.row
			.col-md-4
				h2 TO-DO
				ul.list-group
					each val in todoTasks
						li.list-group-item= val
			.col-md-4
				h2 In-Progress
				ul.list-group
					each val in inProgressTasks
						li.list-group-item= val

			.col-md-4
				h2 Done
				ul.list-group
					each val in doneTasks
						li.list-group-item= val

